{
  "extends": ["@antfu", "prettier"],
  "rules": {
    "indent": ["warn", 2],
    "curly": "off",
    "no-console": "off",
    "@typescript-eslint/comma-dangle": "off",
    "vue/comma-dangle": "error",
    "vue/valid-v-for": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "max-statements-per-line": "off",
    "unused-imports/no-unused-imports": "off",
    "vue/html-self-closing": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "antfu/top-level-function": "off",
    "vue/dot-location": "off",
    "vue/space-unary-ops": "off",
    "no-restricted-globals": 0
  },
  "overrides": [
    {
      "files": ["types/**"],
      "extends": ["@antfu"]
    }
  ]
}
