.top-bar {
  padding: 2em 0.5em 0.5em 0.5em;
  h2 {
    margin: 0;
  }

  &__row {
    display: flex;
    align-items: flex-start;
  }
  .product-count {
    width: fit-content;
  }

  .product-view {
    cursor: pointer;
    border-radius: 5px;
    padding: 0.3em 0.5em;

    &:hover {
      background-color: var(--bg3);
    }
  }

  .listing-name {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5em;
  }
}
