.details-name {
  & > div:first-child {
    display: flex;

    //  product name
    p {
      margin-top: 0;
      font-size: 1.5em;
      margin-bottom: 11px;
      margin-right: 10px;
    }

    & > div {
      position: relative;
      display: flex;
      height: fit-content;
      margin-left: auto;
      min-width: 48px;
      gap: 5px;
      color: #f6606c;
      background-color: #a33838b6;
      padding: 4px 6px;
      border-radius: 5px;
      cursor: pointer;
      transition: opacity 150ms ease-in-out;

      &:hover {
        background-color: hsla(0, 49%, 43%, 1);

        & .tooltip::after {
          pointer-events: all;
          opacity: 1;
        }
      }
    }
  }
  // brand name
  p:nth-child(2) {
    margin: 0;
    color: #b9bbbf;
    font-size: 1.1em;
  }
}
