.reviews-overlay {
  position: absolute;
  inset: 0;
  z-index: 998;
  overflow: hidden;
}

.reviews-panel {
  background-color: var(--bg2);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25em;
  margin-left: auto;
  margin-top: 5em;
  transform: translateX(0);

  .wrapper {
    display: grid;
    width: fit-content;
    margin: auto;
    margin-top: 70px;
    place-items: center;
    position: sticky;
    top: 50%;
  }

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    animation: rotation 800ms linear infinite;
  }

  & > button {
    background: none;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 0;
    border-radius: 4px;

    &:hover {
      background-color: var(--bg4);
    }
  }
}

.reviews-slide-enter-active,
.reviews-slide-leave-active {
  transition: transform 250ms ease-in-out;
}

.reviews-slide-enter-from,
.reviews-slide-leave-to {
  transform: translateX(100%);
}
