.reviews-rating {
  margin-top: 1.5em;

  hr {
    border-color: var(--bg5);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;

    button {
      background-color: transparent;
      border-radius: 4px;
      $spacing: 8px;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: $spacing;
      margin-right: -$spacing;
      outline-color: transparent;
      transition: all 150ms ease-in-out;

      &:hover {
        background-color: var(--bg3);
        outline: 1px solid var(--bg4);
      }
    }
  }

  .cols {
    display: flex;
    align-items: center;
    justify-content: stretch;

    // star
    div:first-child {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }

    & > div:nth-child(2) {
      flex: 1;
      margin-left: 1em;

      ul {
        padding: 0;
        margin: 0;

        li {
          display: flex;
          gap: 10px;
          align-items: center;
          margin-bottom: 3px;

          & > span:first-child {
            min-width: 10px;
          }

          & > span:last-child {
            min-width: 40px;
            font-size: 0.85em;
            font-style: italic;
          }

          & > div {
            background-color: var(--bg3);
            flex-basis: 100%;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            height: 15px;
            cursor: pointer;

            &:hover {
              outline: 2px solid var(--bg4);
            }

            &:hover span::after {
              opacity: 0.9;
            }

            span {
              position: absolute;
              height: 100%;
              background-color: var(--bg4);
              left: 0;

              &::after {
                content: attr(data-amount);
                position: absolute;
                font-size: 0.7em;
                left: calc(100% + 4px);
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
}
