.star-dropdown {
  margin-left: auto;
  position: relative;
  z-index: 6;

  button {
    background-color: var(--bg4);
    display: flex;
    border-radius: 4px;
    align-items: center;
    gap: 4px;
    padding: 0.3em 0.5em;

    &:hover {
      background-color: var(--bg5);
    }
  }

  &:hover {
    button {
      border-bottom-right-radius: 0;
    }

    ul {
      opacity: 1;
      pointer-events: all;
    }
  }

  ul {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    padding: 2px;
    margin: 0;
    background-color: var(--bg4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: -2px 2px 6px 1px rgba(170, 170, 170, 0.1);
    transition: all 50ms ease-in-out;

    li {
      padding: 0.3em 0.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      cursor: pointer;
      font-size: 0.9em;
      border-radius: 4px;
      transition: background-color 50ms ease-in-out;

      span {
        font-size: 0.9em;
      }

      &.active {
        background-color: var(--bg3);

        svg {
          fill: #dfc01b;
        }
      }

      &:hover {
        background-color: var(--bg2);

        svg {
          fill: #dfc01b;
        }
      }
    }
  }
}
