@use '/node_modules/primevue/resources/themes/vela-blue/theme.css';
@use './components/shop/header.scss';
@use './components/shop/sidebar.scss';
@use './components/shop/products_grid.scss';
@use './components/shop/top_bar.scss';
@use './components/shop/bottom_bar.scss';
@use './components/shop/pagination.scss';
@use './components/shop/sorting.scss';
@use './components/shop/mega_menu.scss';

.tooltip {
  color: white;
  position: absolute;
  right: -10px;
  bottom: -5px;
  cursor: pointer;
  --transition: opacity 250ms ease-in-out 500ms;

  &::before,
  &::after {
    pointer-events: none;
    opacity: 0;
    transition: var(--transition);
    position: absolute;
  }
  &::before {
    content: '';
    bottom: 0;
    right: 15px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #434c5e;
  }

  &::after {
    content: attr(data-text);
    right: 0;
    display: block;
    white-space: nowrap;
    color: white;
    padding: 0.4em 0.3em;
    border-radius: 5px;
    background-color: #434c5e;
    box-shadow: -1px 1px 1px 0px #4e5768d0;
    font-size: 0.9em;
  }
}

main {
  margin-left: 4rem;
  margin-right: 4rem;
  position: relative;
  justify-content: center;
  display: flex;
  gap: 3em;
  margin-top: 1em;
}
