@use 'product_details/display.scss';
@use 'product_details/config.scss';
@use 'product_details/buy.scss';
@use 'product_details/rating_reviews.scss';
@use 'product_details/name.scss';
@use 'product_details/price.scss';
@use 'product_details/path.scss';

main.product-details {
  all: unset;
  width: 80%;
  margin: 4rem auto 0 auto;
  display: flex;

  $section-spacing: 25px;
  :where(.details-price,  .details-config) {
    padding-top: $section-spacing;
  }

  :where(.details-name, .details-price, .details-config) {
    position: relative;

    &::after {
      content: '';
      height: 1px;
      width: 100%;
      background-color: #e4e4e453;
      position: absolute;
      bottom: -30px;
    }
  }

  // left column
  & > div:first-child {
    width: 400px;
  }

  // right column
  & > div:nth-child(2) {
    flex-grow: 1;
    display: flex;
    gap: $section-spacing;
    flex-direction: column;
    padding: 0 1em 1em;
    margin-left: 30px;
  }
}

.show-in-enter-active,
.show-in-leave-active {
  transition: opacity 250ms ease-in-out;
}

.show-in-enter-from,
.show-in-leave-to {
  opacity: 0;
}
