@use './product_page/display.scss';

main.product-details {
  all: unset;
  width: 80%;
  margin: 4rem auto 0 auto;
  display: flex;

  $section-spacing: 25px;
  :where(.details-price, .details-config > div, .details-buy) {
    padding-top: $section-spacing;
  }

  :where(.details-name, .details-price, .details-config > div) {
    position: relative;

    &::after {
      content: '';
      height: 1px;
      width: 100%;
      background-color: #e4e4e48d;
      position: absolute;
      bottom: -30px;
    }
  }

  // left column
  & > div:first-child {
    width: 400px;
  }

  // right column
  & > div:nth-child(2) {
    flex-grow: 1;
    display: flex;
    gap: $section-spacing;
    flex-direction: column;
    padding: 0 1em 1em;
    margin-left: 30px;
  }

  .details-path {
    display: flex;
    background-color: hsl(222, 16%, 30%);
    width: fit-content;
    border-radius: 4px;
    color: #d8dee9;
    padding: 8px 12px;
    gap: 3px;

    svg {
      margin-left: 5px;
    }
  }

  .details-name {
    & > div:first-child {
      display: flex;

      //  product name
      p {
        margin-top: 0;
        font-size: 1.5em;
        margin-bottom: 11px;
        margin-right: 10px;
      }

      & > div {
        position: relative;
        display: flex;
        height: fit-content;
        margin-left: auto;
        min-width: 48px;
        gap: 5px;
        color: #f6606c;
        background-color: #a33838b6;
        padding: 4px 6px;
        border-radius: 5px;
        cursor: pointer;
        transition: opacity 150ms ease-in-out;

        &:hover {
          background-color: hsla(0, 49%, 43%, 1);

          & .tooltip::after {
            pointer-events: all;
            opacity: 1;
          }
        }
      }
    }
    // brand name
    p:nth-child(2) {
      margin: 0;
      color: #b9bbbf;
      font-size: 1.1em;
    }
  }

  .details-price {
    display: flex;
    gap: 40px;

    .price-amount {
      & > * {
        display: block;
      }
      & > strong {
        font-size: 1.8em;
      }

      &--discounted {
        font-size: 1.3em;
        text-decoration: line-through;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .details-rating {
      align-self: flex-start;
      display: flex;
      gap: 10px;
      div {
        display: flex;
        align-items: center;
        gap: 7px;
        justify-content: center;
        border-radius: 7px;
        width: fit-content;
        padding: 7px 10px;
        cursor: pointer;
        transition: opacity 100ms ease-in-out;

        &:hover {
          opacity: 0.85;
        }
      }
      // rating
      & > div:first-child {
        background-color: #3b4252;
        color: #ebcb8b;
      }

      // Reviews box
      & > div:nth-child(2) {
        background: #404859;
        color: #d8dee9;
      }
    }
  }

  .details-config {
    display: flex;
    gap: $section-spacing;
    flex-direction: column;

    & > div {
      & > span {
        margin-bottom: 20px;
        display: inline-block;
      }
    }

    .color-picks {
      padding-bottom: 10px;
      display: flex;
      gap: 12px;
      .color-pick {
        $color-circle-size: 40px;

        border-radius: 50%;
        background-color: currentColor;
        width: $color-circle-size;
        height: $color-circle-size;
        cursor: pointer;
        position: relative;

        &:hover strong {
          display: block;
        }

        // color name under circle
        strong {
          color: var(--text-color);
          position: absolute;
          top: 115%;
          left: 50%;
          transform: translateX(-50%);
          display: none;
        }

        &.selected {
          outline: 3px solid currentColor;
          outline-offset: 3px;

          strong {
            display: block;

            &::after {
              content: '';
              position: absolute;
              bottom: -2px;
              left: 0;
              height: 2px;
              width: 100%;
              background-color: currentColor;
            }
          }
        }
      }
    }

    .size-picks {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;

      .size-pick {
        padding: 7px 10px;
        background-color: hsl(222, 16%, 30%);
        color: #d8dee9;
        border-radius: 7px;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        transition: opacity 100ms ease-in-out;
        user-select: none;

        &.selected {
          font-weight: bold;
          &::before {
            background-color: #d8dee9;
            outline-offset: 2px;
            outline-color: #d8dee9;
          }
        }

        &:not(.selected):hover {
          opacity: 0.85;
        }

        &::before {
          content: '';
          border-radius: 50%;
          display: block;
          width: 13px;
          height: 13px;
          border: 2px solid #d8dee9;
          outline: 1px solid transparent;
          transition:
            background-color 150ms ease-in-out,
            outline-color 150ms ease-in-out;
        }
      }
    }
  }

  .details-buy {
    display: flex;
    gap: 2em;
    color: #eceff4;
    .quantity {
      display: flex;
      align-items: center;
      position: relative;
      border-radius: 10px;
      padding: 0.3em 0.5em;
      background-color: hsl(222, 16%, 30%);

      span:first-of-type {
        display: inline-block;
        width: 35px;
        text-align: center;
      }

      strong {
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        right: 0;
        text-align: center;
        color: #bf616a;
      }

      button {
        font-weight: bold;
        font-size: 1.5em;
        background-color: transparent;
        user-select: none;
        padding: 0 5px;
      }
    }

    // add to cart button
    & > button {
      color: white;
      background-color: hsl(227, 38%, 36%);
      border-radius: 10px;
      padding: 0.75em 4em;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1.2em;
      flex-shrink: 0;

      &:hover {
        background-color: hsl(227, 38%, 40%);
      }
    }
  }
}

.show-in-enter-active,
.show-in-leave-active {
  transition: opacity 250ms ease-in-out;
}

.show-in-enter-from,
.show-in-leave-to {
  opacity: 0;
}
